<!DOCTYPE html>
{% load static %}
<html>
<head>
    <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<!--  for Railway app   <meta http-equiv="refresh" content="1.7;url=http://127.0.0.1:8000/" /> -->
    <meta http-equiv="refresh" content="1.7;url=https://facerecognitionappv1-production.up.railway.app/" />
</head>
<body style="background-color: #caccd3;">
    <div align="center" style="margin-top: 10%;">
        <img src="{% static 'success_gif_leo.gif' %}">
    </div>
</body>
</html>
